<div class="fixed top-1/4 right-[1px] z-3">
  <span class="relative inline-block rotate-90">
    <label class="theme-switcher">
      <input type="checkbox" name="theme-radios" class="theme-controller" value="dark"/>
      <div class="theme-switcher__sun"><i class="ri-sun-line"></i></div>
      <div class="theme-switcher__moon"><i class="ri-moon-line"></i></div>
      <div class="theme-switcher__circle"></div>
    </label>
  </span>
</div>
