{% query pages from page.pages %}
  {
    "where": {
      "template_name_eq": "page"
    },
    "order_by": "-published_at"
  }
{% endquery %}

<main class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
  {% render 'matrix/index/channel_router', page: page, pages: pages %}
</main>

{% schema %}
  {
    "name": "t:schema.templates.channel.name",
    "description": "t:schema.templates.channel.description",
    "thumb_url": "images/schema/channel.webp",
    "preview_image_urls": ["images/schema/channel.webp"],
    "sub_page_templates": ["channel", "page"],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "t:schema.templates.page.settings.title.label"
      },
      {
        "id": "description",
        "type": "textarea",
        "label": "t:schema.templates.page.settings.description.label"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "t:schema.templates.page.settings.content.label",
        "readonly": false,
        "info": "t:schema.templates.page.settings.content.info"
      }
    ]
  }
{% endschema %}