{% assign channels = page.children_in_list %}
{% query pages from site.pages %}
  {
    "where": {
      "template_name_eq": "page"
    },
    "order_by": "-published_at"
  }
{% endquery %}


{% if page.settings.hero_html %}
  <section id="hero" class="">
    {{ page.settings.hero_html }}
  </section>
{% else %}
  {% render 'hero' %}
{% endif %}

<main class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
  {% render 'matrix/index/index_router', page: page, channels: channels, pages: pages %}
</main>

{% schema %}
  {
    "name": "t:schema.templates.index.name",
    "description": "t:schema.templates.index.description",
    "thumb_url": "images/schema/index.webp",
    "preview_image_urls": [
      "images/schema/index.webp"
    ],
    "sub_page_templates": ["channel"],
    "settings": [
      {
        "id": "hero_html",
        "type": "html",
        "label": "t:schema.templates.index.settings.hero_html.label"
      }
    ]
  }
{% endschema %}
